<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		 <!--Define components for your PyInstaller output--> 
		<ComponentGroup Id="pi_installer_components" Directory="INSTALLFOLDER">
			<Component Id="pi executable" Guid="9c40cc53-4d42-411e-9394-04401feb1eb7">
				<File Id="pi executable" Source="$(var.pyinstaller.TargetDir)\pi.exe" KeyPath="yes"/>
				<Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_ROOT_DIR" Name="MDX_ROOT_DIR" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_CONFIG_DIR" Name="MDX_CONFIG_DIR" Value="C:\dev\tau\src\methodics\test\config" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_PI_SERVER" Name="MDX_PI_SERVER" Value="http://localhost:8080" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_LICENSE_FILE" Name="MDX_LICENSE_FILE" Value="5289@flex.site.methodics-da.com" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_PI_LOCALES_DIR" Name="MDX_PI_LOCALES_DIR" Value="C:\dev\tau\locales" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="P4PORT" Name="P4PORT" Value="12000" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_PI_ASCII" Name="MDX_PI_ASCII" Value="1" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="MDX_WORKSPACE_MANAGER" Name="MDX_WORKSPACE_MANAGER" Value="PWM" Permanent="yes" Part="last" Action="set" System="no" />
				<Environment Id="P4CONFIG" Name="P4CONFIG" Value=".p4config" Permanent="yes" Part="last" Action="set" System="no" />
			</Component>
			<Component Id="pi-admin executable" Guid="c3ab148f-b090-49ae-8de5-9cf46211a823">
				<File Id="pi-admin executable" Source="$(var.pyinstaller.TargetDir)\pi-admin.exe" KeyPath="yes"/>
			</Component>
			<Files Directory="OneDir" Include="$(var.pyinstaller.TargetDir)\_internal\**\*.*"/>
		</ComponentGroup>
	</Fragment>
</Wix>
